
.color {
    color: #610094;
    color: #3f0071;
    color: #150050;
    color: #000;
  }

.subscribe{
    height: 210px;
    width: 100%;
    background-color: #610094;
}
.subscribeContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.subscribeContainer h3{
    margin-top: 32px;
}
.subscribeContainer input{
    margin-top: 32px;
    background-color:#000;
    /* width: 345px; */
    height: 40px;
    border-radius: 8px;
}
.subscribeContainer input:focus{
    outline: none;
    border: none;
} 
.subscribeContainer button{
    background-color: #000;
    border-radius: 8px;
    margin-top: 16px;
    color:#fff;
    height: 30px;
    width: 94px;
}


.Created{
    color: #eee;
    min-height: 375px;
    width: 100%;
    background-color: #000;
}
.CreatedContainer{
    margin-top: 64px;
}
.footerinfo{
    text-align: start;
}
.footerinfo p{
    opacity: 0.5;
}
.copryt span{
    color:#610094;
}
.footerlinks {
    text-align: start;
}
.footerlinks ul{
    opacity: 0.5;
}
.footercontect{
    text-align: start;
}
.footercontect p {
    opacity: 0.5;
}
.footercontect i{
color:#610094 ;
}
.emailLink{
    width: 101px;
    height: 40px;
    padding: 2px auto;
    background-color: #610094;
    border-radius: 8px;
    text-decoration: none;
    color:#fff;
}
.emailLink:hover{
    color:#fff;

} 
.subscribeContainer{

}