 .body {
    font-family: sans-serif;
    color: #610094;
    color: #3f0071;
    color: #150050;
    color: #000;
  }

.tetimomonals{
    color:#fff;
 }
 .aboutPageblir{
    padding-top:128px ;
 }

 .customersSayAbout{
    margin-top: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
 }
 .customersSayAboutBox{
   margin: 16px;
    border-radius: 8px;
    width: 310px; ;
    min-height:215px ;
    background-color: #fff;
    color: #000;
    padding: 16px;
 }
 .stars{
    color: #FFC700;
 }
 .customersThesayAbout{
    display: flex;
    align-items: center;
 }
 .customersThesayAbout div img{
    padding-right: 12px;
    width: 40px; ; 
    height:40px ;
 }
 .ShowMorButton{
    margin-top: 32px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .ShowMorButton p {
    opacity: 0.6;
    width: 80%;
    margin: 16px;
 }
 .ShowMorButton span a{
    text-decoration: none;
 cursor: pointer;
 color: #fff;
 } 